{% extends 'inside.html' %}

{% block content %}
    {% if protected_error %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <a href="{% url 'category' category.id %}"><button type="button" class="close" aria-hidden="true">&times;</button></a>
        <h4><i class="fa fa-ban"></i> Kategorie konnte nicht entfernt werden!</h4>
        So lange Unterkategorien oder Geräte in dieser Kategorie enthalten sind kann die Kategorie nicht entfernt werden.
    </div>
    {% endif %}
    <section class="content-header">
    <h1>
        Kategorie: {{ category.name }}
        <div class="btn-group" role="group">
            {% if perms.rms.change_category %}
                <a href="{% url 'edit_category' category.id %}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Bearbeiten</a>
            {% endif %}
            {% if perms.rms.delete_category %}
                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#category_delete_modal"><i class="fa fa-trash"></i> Entfernen</button>
            {% endif %}
        </div>
        {% if perms.rms.add_device %}
            <a href="{% url 'add_device' %}?category={{ category.id }}" class="btn btn-xs btn-default"><i class="fa fa-plus"></i> Gerätetyp erstellen</a>
        {% endif %}
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-cubes"></i> Inventar</li>
        {% for element in path %}
            <li><a href="{{ element.url }}">{{ element.text }}</a></li>
        {% endfor %}

    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% include 'inventory/device_list.html' with devices=devices %}
        </div>
    </div>
    </section>
    <form action="{% url 'delete_category' category.id %}" method="post">
        {% csrf_token %}
        <div class="modal modal-danger fade" id="category_delete_modal" tabindex="-1" role="dialog" aria-labelledby="category_delete_modal_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="category_delete_modal_label">Kategorie löschen</h4>
                    </div>
                    <div class="modal-body">
                        Soll die Kategorie "{{ category.name }}" gelöscht werden?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" class="btn btn-outline">Löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
