{% extends 'inside.html' %}

{% block content %}
    <section class="content-header">
    <h1>Kategorie: {{ category.name }}</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-cubes"></i> Inventar</li>
        {% for category in path %}
            <li><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}

    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% include 'inventory/device_list.html' with devices=category.device_set.all %}
        </div>
    </div>
    </section>
{% endblock %}
