<table class="table table-striped table-hover">
<thead>
<tr>
    <th>Name</th>
    <th>Hersteller</th>
    {% if not without_controls %}
        <th style="text-align: right;">Aktionen</th>
    {% endif %}
</tr>
</thead>
<tbody>
{% if perms.rms.view_device %}
    {% for device in devices %}
        <tr>
            <td><a href="{% url 'device' device.id %}">{{ device.name }}</a></td>
            <td><a href="{% url 'device' device.id %}">{{ device.vendor }}</a></td>
            {% if not without_controls %}
                <td style="text-align: right;">
                    {% if perms.rms.change_device %}
                        <a href="{% url 'edit_device' device.id %}"><i class="fa fa-edit"></i></a>
                    {% endif %}
                    {% if perms.rms.delete_device %}
                        <a href="#" data-toggle="modal" data-target="#delete_device{{ device.id }}"><i class="fa fa-trash text-danger"></i></a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% include 'inventory/modals/device_delete_modal.html' %}
    {% endfor %}
    {% if not devices %}
    <tr>
    <td colspan="100" style="text-align: center;">Keine Geräte gefunden</td>
    </tr>
    {% endif %}
{% else %}
    <tr>
    <td colspan="100" style="text-align: center;">Keine Berechtigung die Geräte zu sehen</td>
    </tr>
{% endif %}
</tbody>
</table>
