<table class="table table-striped table-hover">
<thead>
<tr>
    <th>Name</th>
    <th>Hersteller</th>
    <th style="text-align: right;">Aktionen</th>
</tr>
</thead>
<tbody>
{% for device in devices %}
    <tr>
        <td><a href="{% url 'device' device.id %}">{{ device.name }}</a></td>
        <td><a href="{% url 'device' device.id %}">{{ device.vendor }}</a></td>
        <td style="text-align: right;">
            <a href="{% url 'edit_device' device.id %}"><i class="fa fa-edit"></i></a>
            <a href="#" data-toggle="modal" data-target="#delete_device{{ device.id }}"><i class="fa fa-trash text-danger"></i></a>
        </td>
    </tr>
    {% include 'inventory/modals/device_delete_modal.html' %}
{% endfor %}
{% if not devices %}
<tr>
<td colspan="100" style="text-align: center;">Keine Geräte gefunden</td>
</tr>
{% endif %}
</tbody>
</table>
