{% extends 'inside.html' %}
{% load static %}

{% block content %}
    {% if protected_error %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <a href="{% url 'device' device.id %}"><button type="button" class="close" aria-hidden="true">&times;</button></a>
        <h4><i class="fa fa-ban"></i> {{ protected_error.header }}</h4>
        {{ protected_error.content }}
    </div>
    {% endif %}
    <section class="content-header">
    <h1>Gerätetyp: {{ device.name }}</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-cubes"></i> Inventar</li>
        {% for element in path %}
            <li><a href="{{ element.url }}">{{ element.text }}</a></li>
        {% endfor %}
        <li>{{ device.name }}</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Informationen</h3>
            <div class="box-tools">
                {% if perms.rms.change_device %}
                    <a href="{% url 'edit_device' device.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Bearbeiten</button></a>
                {% endif %}
            </div>
        </div>
        <div class="box-body">
            <div class="img-responsive col-sm-4 pull-left">
                {% if device.picture %}
                <div id="image_wrapper">
                    <img id="device_image" src="/{{ device.picture }}" width="100%">
                </div>
                {% else %}
                <img src="{% static 'img/no-picture.png' %}" width="100%">
                {% endif %}
            </div>
            <div class="col-sm-6" style="position: fixed; top: 0; right: 0; height: 100vh; overflow: hidden; z-index: 300; display: none;" id="large_picture_preview">

            </div>
            <script type="application/javascript">
                $(document).ready(function () {
                    $('div#image_wrapper').zoom({
                        url: '/{{ device.picture }}',
                        target: $('#large_picture_preview')
                    }).on('mouseenter', function () {
                        $('#large_picture_preview').show()
                    }).on('mouseleave', function () {
                        $('#large_picture_preview').hide()
                    })
                })
            </script>
            <div class="col-sm-8">
            {% include 'inventory/widgets/device_info.html' %}
            </div>
        </div>
    </div>
    <div class="box" style="border-top: none;">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="{% if 'reservations' not in request.path %}active{% endif %}"><a href="{% url 'device' device.id %}">Instanzen</a></li>
                <li class="{% if 'reservations' in request.path %}active{% endif %}"><a href="{% url 'device_reservations' device.id %}">Reservierungen</a></li>
            </ul>
        </div>
        <div class="box-body">
            <div class="tab-content">
                {%  block tab-content %}{% endblock %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}