{% extends 'inside.html' %}

{% block content %}
    {% if protected_error %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <a href="{% url 'device' device.id %}"><button type="button" class="close" aria-hidden="true">&times;</button></a>
        <h4><i class="fa fa-ban"></i> Gerätetyp konnte nicht entfernt werden!</h4>
        So lange Instanzen dieses Gerätetyps existieren kann der Gerätetyp nicht gelöscht werden.
    </div>
    {% endif %}
    <section class="content-header">
    <h1>Gerätetyp: {{ device.name }}</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-cubes"></i> Inventar</li>
        {% for element in path %}
            <li><a href="{{ element.url }}">{{ element.text }}</a></li>
        {% endfor %}
        <li>{{ device.name }}</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Informationen</h3>
            <div class="box-tools">
                <a href="{% url 'edit_device' device.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Bearbeiten</button></a>
            </div>
        </div>
        <div class="box-body">
            <div class="img-responsive col-sm-4 pull-left">
                <div id="image_wrapper">
                    <img id="device_image" src="/{{ device.picture }}" width="100%">
                </div>
            </div>
            <div class="col-sm-6" style="position: fixed; top: 0; right: 0; height: 100vh; overflow: hidden; z-index: 300; display: none;" id="large_picture_preview">

            </div>
            <script type="application/javascript">
                $(document).ready(function () {
                    $('div#image_wrapper').zoom({
                        url: '/{{ device.picture }}',
                        target: $('#large_picture_preview')
                    }).on('mouseenter', function () {
                        $('#large_picture_preview').show()
                    }).on('mouseleave', function () {
                        $('#large_picture_preview').hide()
                    })
                })
            </script>
            <div class="col-sm-8">
            {% include 'inventory/widgets/device_info.html' %}
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Instanzen</h3>
            <div class="box-tools">
                <a href="{% url 'create_instance' device.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Erstellen</button></a>
            </div>
        </div>
        <div class="box-body">
            {% include 'inventory/instance_list.html' with instances=device.instance_set.all %}
        </div>
    </div>
    </section>
{% endblock %}