<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Seriennummer</th>
        <th>Inventarnummer</th>
        <th style="text-align: right;">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for instance in instances %}
        <tr>
        <td>{{ instance.serial_number }}</td>
        <td>{{ instance.inventory_number }}</td>
        <td style="text-align: right;">
            <a href="#"><i class="fa fa-edit"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a>
        </td>
        </tr>
    {% endfor %}
    {% if not instances %}
    <tr>
    <td colspan="100" style="text-align: center;">Keine Elemente gefunden</td>
    </tr>
    {% endif %}
    </tbody>
</table>