{% extends 'base.html' %}

{% block body %}
<body class="login-page hold-transition">
    <div class="login-box">
        <div class="login-logo">
            <b>RMS</b>v2
        </div>
        <div class="login-box-body">
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% else %}
                <p class="login-box-msg">Bitte einloggen.</p>
            {% endif %}
            <form method="post" action="{{ request.get_full_path }}">
                {% csrf_token %}
                <div class="form-group has-feedback {% if form.username.errors %}has-error{% endif %}">
                    <input class="form-control" placeholder="Nutzername" name="{{ form.username.html_name }}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {{ form.username.errors }}
                </div>
                <div class="form-group has-feedback {% if form.password.errors %}has-error{% endif %}">
                    <input type="password" class="form-control" placeholder="Passwort" name="{{ form.password.html_name }}" {% if form.password.value %}value="{{ form.password.value }}"{% endif %}>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {{ form.password.errors }}
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-flat">Anmelden</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}