{% extends 'base.html' %}

{% block body %}
    <body class="login-page hold-transition">
        <div class="login-box">
            <div class="login-logo">
                <b>RMS</b>v2
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">
                    Das Passwort wurde erfolgreich gesetzt.<br>
                    <br>
                    <a href="{% url 'login' %}">[Einloggen]</a>
                </p>
            </div>
        </div>
    </body>
{% endblock %}