{% extends 'inside.html' %}

{% block content %}
    <section class="content-header">
    <h1>
        Reservierung
        <small>{{ reservation.full_id }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'reservations' %}"><i class="fa fa-file-text"></i> Reservierungen</a></li>
        <li>{{ reservation.name }}</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% if perms.rms.change_reservation %}
                <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-default btn-xs pull-right"><i class="fa fa-edit"></i> Reservierung bearbeiten</a>
            {% endif %}
            {% include 'reservation/includes/reservation_info.html' with edit=True %}
        </div>
    </div>
    {% if reservation.reservationdevicemembership_set.all %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Geräte</h3>
        </div>
        <div class="box-body">
            <div role="tabpanel" class="tab-pane active" id="devices">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hersteller</th>
                        <th>Anzahl</th>
                        <th style="text-align: right;">Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device_relation in reservation.reservationdevicemembership_set.all %}
                        <tr>
                            <td>{{ device_relation.device.name }}</td>
                            <td>{{ device_relation.device.vendor }}</td>
                            <td>{{ device_relation.amount }}</td>
                            <td style="text-align: right">
                                <a href="#" data-toggle="modal" data-target="#edit_device_reservation{{ device_relation.device.id }}"><i class="fa fa-edit"></i></a>
                                <a href="#" data-toggle="modal" data-target="#delete_device_from_reservation{{ device_relation.device.id }}"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                        {% include 'reservation/includes/remove_device_from_reservation_modal.html' with device=device_relation.device amount=device_relation.amount %}
                        {% include 'reservation/includes/edit_device_reservation.html' with device=device_relation.device amount=device_relation.amount %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    </section>
{% endblock %}
