{% extends 'reservation/reservation.html' %}

{% block tab-content %}
    {% if not reservation.has_ended %}
        <form id="checkout-form">
        {% csrf_token %}
            <div class="form-group col-xs-9">
                <input type="text" name="inventory_number" placeholder="Inventar Nummer" class="form-control" autofocus id="inventory_number">
            </div>
            <div class="btn-group col-xs-3">
                <button type="submit" class="btn btn-primary col-xs-8">Auschecken</button>
                <button type="button" class="btn btn-default col-xs-4" onclick="scanQRCode()"><i class="glyphicon glyphicon-barcode"></i></button>
            </div>
        </form>
        <br><br>
        <div id="checkout-alert-area"></div>
        <style>
        #interactive.viewport * {
            position: absolute;
            width: 100%;
        }
        </style>
        <div style="position: fixed; display: none; z-index: 99999;">
            <div id="interactive" class="viewport"></div>
        </div>
        <script>
        $('#checkout-form').on('submit', function (event) {
            event.preventDefault();
            var inventory_number = $('#inventory_number').val();
            $.post('{% url 'api_reservation_checkout' reservation.id %}', {inventory_number: inventory_number})
                .done(function (data, status) {
                    window.location.reload()
                }).fail(function (xhr) {
                    var alert_area = $('#checkout-alert-area');
                    alert_area.empty();
                    var alert_element = $('<div class="alert alert-danger"></div>');
                    var alert_text = $('<span>'+xhr.responseText+'</span>');
                    if (xhr.responseJSON.msg ) {
                        alert_text.text(xhr.responseJSON.msg);
                    }
                    alert_element.append(alert_text);
                    alert_element.append($('<br>'));

                    if (xhr.responseJSON.collisions && typeof xhr.responseJSON.collisions === 'object' && xhr.responseJSON.collisions.length > 0) {
                        var collision_list = $('<ul></ul>');
                        alert_element.append('<b>Kollisionen:</b>');
                        alert_element.append(collision_list);
                        for (var i in xhr.responseJSON.collisions) {
                            if (xhr.responseJSON.collisions.hasOwnProperty(i)) {
                                var reservation = xhr.responseJSON.collisions[i];
                                collision_list.append($('<li>'+reservation.full_id+' '+reservation.name+'</li>'))
                            }
                        }
                    }
                    alert_area.append(alert_element)
                });
        });

        function scanQRCode() {
            var codes = [];
            Quagga.onDetected(function (data) {
                codes.push(data.codeResult.code);
                if (codes.length > 20) {
                    var codemap = {};
                    for (var i in codes) {
                        if (codes.hasOwnProperty(i)) {
                            if (!codemap[codes[i]]) {
                                codemap[codes[i]] = 0
                            }
                            codemap[codes[i]]++
                        }
                    }
                    var candidateCount = 0;
                    var candidate = null;
                    for (var j in codemap) {
                        if (codemap.hasOwnProperty(j)) {
                            if (candidateCount < codemap[j]) {
                                candidateCount = codemap[j];
                                candidate = j;
                            }
                        }
                    }
                    $('#inventory_number').val(candidate);
                    $('#checkout-form').submit();
                    Quagga.stop();
                    codes = [];
                    $('#interactive.viewport').parent().hide();
                }
            });
            Quagga.init({
                inputStream : {
                    name: 'Live',
                    type: 'LiveStream',
                    constraints: {
                        facingMode: 'environment'
                    }
                },
                decoder: {
                    readers: [
                        'code_128_reader',
                        'ean_reader',
                    ],
                    multiple: false
                },
                locator: {
                    halfSample: true,
                    pathSize: 'medium'
                }
            }, function (err) {
                if (err) {
                    console.log(err);
                    return;
                }
                var viewport = $('#interactive.viewport').parent();
                viewport.css('top', window.pageYOffset+'px');
                viewport.css('left', window.pageXOffset+'px');
                viewport.css('width', window.innerWidth+'px');
                viewport.css('height', window.innerHeight+'px');
                viewport.show();
                Quagga.start();
                viewport.find('canvas').on('click', function() {
                    Quagga.stop();
                    codes = [];
                    $('#interactive.viewport').parent().hide();
                })
            })
        }
        $(document).on('resize', function () {
            var viewport = $('#interactive.viewport').parent();
            viewport.css('top', window.pageYOffset+'px');
            viewport.css('left', window.pageXOffset+'px');
            viewport.css('width', window.innerWidth+'px');
            viewport.css('height', window.innerHeight+'px');
        })
        </script>
    {% endif %}
    <h3>Ausgeliehene Geräte</h3>
    <table class="table">
    <thead>
    <tr>
        <th>Gerätename</th>
        <th>Gerätehersteller</th>
        <th>Inventarnummer</th>
        <th>Ausleihzeitpunkt</th>
        <th style="text-align: right;">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for device, instances in devices.items %}
        <tr>
            <td rowspan="{{ instances|length|add:"1" }}"><a href="{% url 'device' device.id %}">{{ device.name }}</a></td>
            <td rowspan="{{ instances|length|add:"1" }}"><a href="{% url 'device' device.id %}">{{ device.vendor }}</a></td>
        </tr>
        {% for instance_relation in instances %}
            <tr>
                <td>
                <a href="{% url 'device_instance' device.id instance_relation.instance.id %}">{{ instance_relation.instance.inventory_number }}</a>
                </td>
                <td>{{ instance_relation.checkout_date }}</td>
            <td style="text-align: right;">

            </td>
            </tr>
        {% endfor %}
    {% endfor %}
    {% if not devices %}
        <tr><td colspan="100" style="text-align: center;">Es wurden noch keine Geräte dieser Reservierung ausgeliehen.</td></tr>
    {% endif %}
    </tbody>
    </table>
{% endblock %}
