{% extends 'inside.html' %}

{% block content %}
    <section class="content-header">
    <h1>
        Reservierung
        <small>{{ reservation.full_id }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'reservations' %}"><i class="fa fa-file-text"></i> Reservierungen</a></li>
        <li>{{ reservation.name }}</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% if perms.rms.change_reservation %}
                <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-default btn-xs pull-right"><i class="fa fa-edit"></i> Reservierung bearbeiten</a>
            {% endif %}
            {% include 'reservation/includes/reservation_info.html' with edit=True %}
        </div>
    </div>
    {% if reservation.reservationdevicemembership_set.all %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Geräte</h3>
        </div>
        <div class="box-body">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Hersteller</th>
                    <th>Anzahl</th>
                    <th style="text-align: right;">Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for device_relation in reservation.reservationdevicemembership_set.all %}
                    <tr>
                        <td><a href="{% url 'device' device_relation.device.id %}">{{ device_relation.device.name }}</a></td>
                        <td><a href="{% url 'device' device_relation.device.id %}">{{ device_relation.device.vendor }}</a></td>
                        <td>{{ device_relation.amount }}</td>
                        <td style="text-align: right">
                            <a href="#" data-toggle="modal" data-target="#edit_device_reservation{{ device_relation.device.id }}"><i class="fa fa-edit"></i></a>
                            <a href="#" data-toggle="modal" data-target="#delete_device_from_reservation{{ device_relation.device.id }}"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                    {% include 'reservation/includes/remove_device_from_reservation_modal.html' with device=device_relation.device amount=device_relation.amount %}
                    {% include 'reservation/includes/edit_device_reservation.html' with device=device_relation.device amount=device_relation.amount %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if reservation.instances %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Instanzen</h3>
        </div>
        <div class="box-body">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Gerätename</th>
                    <th>Gerätehersteller</th>
                    <th>Inventarnummer</th>
                    <th style="text-align: right">Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in reservation.instances.all %}
                    <tr>
                        <td><a href="{% url 'device_instance' instance.device.id instance.id %}">{{ instance.device.name }}</a></td>
                        <td><a href="{% url 'device_instance' instance.device.id instance.id %}">{{ instance.device.vendor }}</a></td>
                        <td><a href="{% url 'device_instance' instance.device.id instance.id %}">{{ instance.inventory_number }}</a></td>
                        <td style="text-align: right;">
                            <a href="#" data-toggle="modal" data-target="#delete_instance_from_reservation{{ instance.id }}"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                    {% include 'reservation/includes/remove_instance_from_reservation_modal.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    </section>
{% endblock %}
