{% extends 'inside.html' %}

{% block content %}
    <section class="content-header">
    <h1>
        Reservierung
        <small>{{ reservation.full_id }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'reservations' %}"><i class="fa fa-file-text"></i> Reservierungen</a></li>
        <li>{{ reservation.name }}</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% if perms.rms.change_reservation %}
                <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-default btn-xs pull-right"><i class="fa fa-edit"></i> Reservierung bearbeiten</a>
            {% endif %}
            {% include 'reservation/includes/reservation_info.html' with edit=True %}
        </div>
    </div>
    <div class="box" style="border-top: none;">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="{% if 'checkout' not in request.path and 'checkin' not in request.path %}active{% endif %}"><a href="{% url 'reservation' reservation.id %}">Reservierung <span class="label label-primary">{{ reservation.device_count }}</span></a></li>
                {% if not reservation.has_ended and reservation.has_started %}
                    <li class="{% if 'checkout' in request.path %}active{% endif %}"><a href="{% url 'reservation_checkout' reservation.id %}">Ausleihen <span class="label label-primary">{{ reservation.checked_out_instances.all|length }}</span></a></li>
                {% endif %}
                {% if reservation.has_started %}
                    <li class="{% if 'checkin' in request.path %}active{% endif %}"><a href="{% url 'reservation_checkin' reservation.id %}">Rückgabe <span class="label label-primary">{{ reservation.checked_in_instances.all|length }}</span></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="box-body">
            {% block tab-content %}{% endblock %}
        </div>
    </div>
    </section>
{% endblock %}
