{% extends 'inside.html' %}

{% block content %}
    <style>
    .popover {
        max-width: 200%;
    }
    </style>
    <section class="content-header">
    <h1>
        Reservierungen
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-file-text"></i> Reservierungen</li>
        <li>Übersicht</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            <div class="btn-group pull-right">
                {% if request.user.is_superuser %}
                    {% if show_all  %}
                        <a href="{% url 'reservations' %}" class="btn btn-default btn-xs">Nur eigene Reservierungen anzeigen</a>
                    {% else %}
                        <a href="{% url 'reservations' %}?all=yes" class="btn btn-default btn-xs">Alle Reservierungen anzeigen</a>
                    {% endif %}
                {% endif %}
                {% if perms.rms.add_reservation %}
                    <a href="{% url 'create_reservation' %}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> Reservierung erstellen</a>
                {% endif %}
                {% if show_all %}
                    <button type="button" class="btn btn-default btn-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<b>iCal URL:</b><br><code>{{ reservations_feed_url }}&all=yes</code>" data-html="true">
                        <i class="fa fa-calendar"></i>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-default btn-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<b>iCal URL:</b><br><code>{{ reservations_feed_url }}</code>" data-html="true">
                        <i class="fa fa-calendar"></i>
                    </button>
                {% endif %}
            </div>
            {% include 'reservation/includes/reservation_list.html' %}
        </div>
    </div>
    </section>
{% endblock %}
