<dl class="dl-horizontal">
    <dt>Inventarnummer</dt>
    <dd>{{ instance.inventory_number }}</dd>
    <dt>Seriennummer</dt>
    <dd>{{ instance.serial_number }}</dd>
    <dt>Identifikationsbeschreibung</dt>
    <dd>{{ instance.identificial_description }}</dd>
    <dt>Ausleihbar</dt>
    <dd>{% if instance.rentable %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</dd>
    <dt>Tags</dt>
    <dd>
        {% for tag in instance.tags.all %}
            <span>{{ tag.name }}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}

    </dd>
</dl>