{% extends 'inside.html' %}

{% block content %}
    <section class="content-header">
    <h1>
        Kundendaten
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-users"></i> Kundendaten</li>
        <li>Übersicht</li>
    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% if perms.rms.add_customer %}
                <a href="{% url 'create_customer' %}" class="btn btn-default btn-xs pull-right"><i class="fa fa-user-plus"></i> Kunde anlegen</a>
            {% endif %}
            {% include 'customers/includes/customer_list.html' %}
        </div>
    </div>
    </section>
{% endblock %}
