{% extends 'inside.html' %}

{% block content %}
    <section class="content-header">
    <h1>{{ title }}</h1>
    <ol class="breadcrumb">
        {% for element in path %}
            <li>{% if element.url %}<a href="{{ element.url }}">{{ element.text|safe }}</a>{% else %}{{ element.text|safe }}{% endif %}</li>
        {% endfor %}

    </ol>
    </section>
    <section class="content">
    <div class="box box-default">
        <div class="box-body">
            {% include 'generics/includes/form.html' %}
        </div>
    </div>
    </section>
{% endblock %}
