{% extends 'settings/base.html' %}

{% block settings-content %}
    <a href="{% url 'add_group' %}" class="btn btn-default btn-xs pull-right"><i class="fa fa-user-plus"></i> Gruppe erstellen</a>
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th style="text-align: right">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
        <td><a href="{% url 'group' group.id %}">{{ group.name }}</a></td>
        <td style="text-align: right">
            <a href="#" data-toggle="modal" data-target="#remove_group{{ group.id }}"><i class="fa fa-trash"></i></a>
            <div class="modal modal-danger fade" id="remove_group{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="remove_group{{ group.id }}_label" style="text-align: left;">
                <form action="{% url 'remove_group' group.id %}" method="post">
                    {% csrf_token %}
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="remove_group{{ group.id }}_label">Gruppe entfernen</h4>
                            </div>
                            <div class="modal-body">
                                Soll die Gruppe <b>{{ group.name }}</b> unwiederuflich gelöscht werden?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Abbrechen</button>
                                <button type="submit" class="btn btn-outline">Löschen</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </td>
        </tr>
    {% endfor %}
    {% if not groups %}
        <tr><td colspan="100" style="text-align: center;">Keine Gruppen vorhanden.</td></tr>
    {% endif %}
    </tbody>
    </table>
{% endblock %}
