{% extends 'settings/base.html' %}

{% block settings-content %}
    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-user-plus"></i> Gruppe erstellen</a>
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th style="text-align: right">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
        <td><a href="{% url 'user' user.id %}">{{ group.name }}</a></td>
        <td style="text-align: right">
            <a href="#"><i class="fa fa-trash"></i></a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
