<div class="modal modal-danger fade" id="delete_warehouse{{ warehouse.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_warehouse{{ warehouse.id }}_label" style="text-align: initial">
    <form action="{% url 'delete_warehouse' warehouse.id %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delete_warehouse{{ warehouse.id }}_label">Lagerort löschen</h4>
                </div>
                <div class="modal-body">
                    Soll der Lagerort <i>{{ warehouse.name }}</i> wirklich gelöscht werden?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-outline">Löschen</button>
                </div>
            </div>
        </div>
    </form>
</div>