{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }} -
        {% endif %}
        RMSv2
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/Font-Awesome/web-fonts-with-css/css/v4-shims.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/admin-lte/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/admin-lte/dist/css/skins/_all-skins.min.css' %}">
    <script type="application/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/admin-lte/dist/js/adminlte.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/jquery-zoom/jquery.zoom.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/moment/locale/de.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/select2/dist/js/select2.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/quagga/dist/quagga.min.js' %}"></script>
    <script>
        moment.locale('de');
    </script>
    <style>
        .main-header .sidebar-toggle {
            font-family: "Font Awesome 5 Free";
        }
    </style>
</head>
{% block body %}

{% endblock %}
<div id="alert_area" style="position: fixed; bottom: 10px; right: 10px; z-index: 1000000;"></div>
{% block scripts %}
{% endblock %}
    <script type="application/javascript">
    $('select').each(function () {
        var $this = $(this);
        if(!$this.data('select2')) {
            $this.select2()
        }
    });
    $("[data-toggle=popover]").popover();
    </script>
</html>