{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }} -
        {% endif %}
        RMSv2
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/admin-lte/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/admin-lte/dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/magnifier/magnifier.css' %}">
    <script type="application/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/admin-lte/dist/js/adminlte.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'bower_components/jquery-zoom/jquery.zoom.min.js' %}"></script>
</head>
{% block body %}

{% endblock %}
{% block scripts %}

{% endblock %}
</html>