{% extends 'base.html' %}

{% block body %}
<body class="sidebar-mini skin-blue">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>RMS</b></span>
            <span class="logo-lg"><b>RMS</b>v2</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Navigation umschalten</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if request.user.first_name and request.user.last_name %}
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            {% elif request.user.email %}
                                {{ request.user.username }}
                            {% else %}
                                {{ request.user.email }}
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile' %}"><i class="fa fa-gears"></i> Einstellungen</a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="{% url 'search' %}" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Suche..." value="{{ search_string }}">
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">NAVIGATION</li>
                {% if perms.rms.view_category or perms.rms.add_device or perms.rms.add_category %}
                <li class="treeview {% if '/inventory' in request.path %}active{% endif %}">
                    <a href="#">
                        <i class="fa fa-cubes"></i>
                        <span>Inventar</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        {% if perms.rms.add_device %}
                            <li class="{% if '/inventory/addDevice' in request.path %}active{% endif %}"><a href="{% url 'add_device' %}"><i class="fa fa-plus-circle"></i>Gerätetyp erstellen</a></li>
                        {% endif %}
                        {% if perms.rms.add_instance %}
                            <li class="{% if '/inventory/addInstance' in request.path %}active{% endif %}"><a href="{% url 'add_instance' %}"><i class="fa fa-plus-circle"></i>Instanz erstellen</a></li>
                        {% endif %}
                        {% if perms.rms.add_category %}
                            <li class="{% if '/inventory/categories/add' in request.path %}active{% endif %}"><a href="{% url 'create_category' %}"><i class="fa fa-plus-circle"></i>Kategorie erstellen</a></li>
                        {% endif %}
                        {% if perms.rms.view_category %}
                            <li role="separator" class="list-seperator"></li>
                            {% include 'navigation/category_tree.html' with categories=top_categories %}
                            <li class="{% if '/inventory/categories/uncategorized' in request.path or '/inventory/categories/uncategorized' in category_path_urls %}active{% endif %}"><a href="{% url 'uncategorized' %}"><div style="width: 10px; display: inline-block;"></div> Unkategorisiert</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if perms.rms.view_reservation %}
                <li class="{% if '/reservations' in request.path %}active{% endif %}">
                    <a href="{% url 'reservations' %}">
                        <i class="fa fa-file-text"></i>
                        <span>Reservierungen</span>
                        <span class="pull-right-container">
                            {% if danger_reservations_count > 0 %}
                                <span class="label pull-right bg-red">{{ danger_reservations_count }}</span>
                            {% endif %}
                        </span>
                    </a>
                </li>
                {% endif %}
                {% if perms.rms.view_customer %}
                <li class="{% if '/customers' in request.path %}active{% endif %}">
                    <a href="{% url 'customers' %}">
                        <i class="fa fa-users"></i>
                        <span>Kundendaten</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.rms.view_warehouse %}
                <li class="{% if '/warehouses' in request.path %}active{% endif %}">
                    <a href="{% url 'warehouses' %}">
                        <i class="fa fa-warehouse"></i>
                        <span>Lagerorte</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        {% block content %}

        {% endblock %}
    </div>

</div>
</body>
{% endblock %}