<select name="{{widget.name}}" id="{{ widget.name }}_input_field" {% include "django/forms/widgets/attrs.html" %} multiple></select>

<script>
    $('select#{{ widget.name }}_input_field').select2({
        ajax: {
            url: '{% url 'api_tag_search' %}',
            dataType: 'json'
        },
        data: [
            {% for val in widget.value %}
                {% if val.strip != '' %}
                    {
                        id: "{{ val }}",
                        text: "{{ val }}",
                        selected: true
                    },
                {% endif %}
            {% endfor %}
        ],
        tags: true
    })
</script>